.shadow-s--text {
	text-shadow: 2px 2px 1px #aaa;
}

.shadow-m--text {
	text-shadow: 5px 5px 3px #aaa;
}

.shadow-l--text {
	text-shadow: 10px 10px 5px #aaa;
}


.shadow-s--box {
	box-shadow: 0.1rem 0.1rem 0.1rem #aaa;
}

.shadow-m--box {
	box-shadow: 0.3rem 0.3rem 0.3rem #aaa;
}

.shadow-l--box {
	box-shadow: 0.9rem 0.9rem 0.9rem #aaa;
}
