:root {
	--basic-shadow_size: 0.1rem;
	--medium-offset: 3;
	--large-offset: 6;
	--shadow-color: color(black l(10%));
}

@define-mixin textShadow $offset {
	text-shadow: calc(var(--basic-shadow_size) * $offset) calc(var(--basic-shadow_size) * $offset) calc(var(--basic-shadow_size) * $offset) var(--shadow-color);
}

@define-mixin boxShadow $offset {
	box-shadow: calc(var(--basic-shadow_size) * $offset) calc(var(--basic-shadow_size) * $offset) calc(var(--basic-shadow_size) * $offset) var(--shadow-color);
}


.shadow-s--text {
    @mixin textShadow 1;
}

.shadow-m--text {
    @mixin textShadow var(--medium-offset);
}

.shadow-l--text {
    @mixin textShadow var(--large-offset);
}

.shadow-s--box {
    @mixin boxShadow 1;
}

.shadow-m--box {
    @mixin boxShadow var(--medium-offset);
}

.shadow-l--box {
    @mixin boxShadow var(--large-offset);
}
