:root {
	--fontsize: 12px;
}
@font-face {
	font-family: 'm+1m';
	src: url('/mplus-1m-light.ttf');
}
html
,body {
	margin: 0;
	padding: 0;
	font-size: var(--fontsize);
	font-family: 'm+1m', menlo;
}

html * {
	box-sizing: border-box;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 4rem;
}

h4 {
	font-size: 4rem;
}

h5 {
	font-size: 3rem;
}

h6 {
	font-size: 2rem;
}

p {
	font-size: 1.1rem;
	text-indent: 2.2rem; 
}
